:root{
    --activeItem: #f799a354;
    --pink: #FF919D;
    --zval:101;
}
.mainDashBoard{
        background-color: #f7f7ff;
    height: 96.4vh;
    width: 92%;
    margin-top: 27px;
    /* display: flex; */
    position: relative;
    margin-left: 53px;
    margin-right: 53px;
    top: -6px;
    box-shadow: 0px 0px 3px 3px var(--SIA-darkblue);
    display: flex;
    flex-direction: column;
    border-radius: 7px;
    overflow-y: auto;
    overflow-x: auto;
    
}
.home{
    z-index: -1;
}

.cards{
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-evenly; */
    align-items: center;

    justify-content: space-around;
  
}
.text{
    margin-top: 45px;
}
.count{
    margin-top: 10px;
}
.card-item{
    box-shadow: 3px 13px 20px 3px wheat;
    border-radius: 5px;
}
.nav-item{
    border-bottom: 1px solid black;

}
.css-18n3qj6-MuiTypography-root{
    height: 55px ;
}




.line{
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: 20px; */
    padding-top: 20px;
    
   
}
.barLabel{
    margin-top: 10px;
}
.piechart{
    margin-top: 10px;
}

.graphCard{
        position: absolute;
    background-color: #c6b8b3;
    height: 60%;
    width: 50%;
    top: 25%;
    left: 25%;
    display: none;
}

.css-bk5zgf-MuiResponsiveChart-container{
    top: -30px !important;
}

/* try for hover */
.menuItem {
  display: flex;
  align-items: center;
  gap: 1rem;
  height: 2.5rem;
  margin-left: 2rem;
  position: relative;
  transition: all 300ms ease;
  border-radius: 0.7rem;
  font-size: 14px;
}

.menuItem:hover {
  cursor: pointer;
   background: var(--activeItem);
   transform: scale(1.1);
}




/* for table */
.table{
    height: 100%;
    width: 100%;
  
}
.css-3ltj6f .MuiDataGrid-container--top [role="row"], .css-3ltj6f .MuiDataGrid-container--bottom [role="row"]{
background-color: #54608e !important; 

}
.css-14mxsc7-MuiDataGrid-root .MuiDataGrid-container--top [role=row], .css-14mxsc7-MuiDataGrid-root .MuiDataGrid-container--bottom [role=row]{
background-color: #54608e !important; 
}
.infoTable{
    /* background-color: red; */
    width: 100%;
    /* height: 100%; */
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
   
}

/* for about */
.about{
    z-index: -1;
}
.pollutionSection{
    padding: 10px;
    letter-spacing: 1px;
}


/* for small screen devices */

@media only screen and (max-width:700px) {
 .mainDashBoard{
    width: 100%;
           margin-right: 0px;
       margin-left: 0px;
       /* height: 100vh; */
       overflow-y: auto;

 }
 
.line{
   padding-bottom: 10px;
   height: auto;
}

}
.css-1ie9w8x{
    display: none !important;
}